<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="application.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <title>Kami's Robots</title>
</head>
<body>
  <div class='col-md-12 navbar navbar-default topper'>
  <div class='col-md-12 navbar-header topper'>
    <div class="container-fluid">
    <h1 class="header-title">Robot World</h1>
    <a class="btn btn-info header-links" href="/robots">Robot Index</a></li>
      <a class="btn btn-info" href="/robots/new">New Robot</a></li></ul>
    </div>
  </div>

</div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
